header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #912338;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

#logo, #profile {
    width: 80px;
    height: auto; 
}

#profile, #logo { 
    border-radius: 50%; 
}

#profile-link:hover img, #logo-link:hover img {
    filter:brightness(50%)
}

#profile-link, #logo-link {
    position: relative;
}

#profile-link p, #logo-link p{
    color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    display: none;
    width: 100%;
    transform: translate(-50%, -50%);
}

#profile-link:hover p, #logo-link:hover p{
    display: block;
}
 
h1 {
    margin: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    flex: 1;
}

.edit-profile-content {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.edit-profile-content form {
  width: 600px;
}

.edit-profile-content input[type="text"],
.edit-profile-content input[type="email"],
.edit-profile-content input[type="tel"],
.edit-profile-content input[type="password"]{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 14px;
}

.btn {
    padding: 10px;
    background-color: #912338;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

.btn:hover {
    background-color: #6e1928;
}

